* {
	margin: 0;
	box-sizing: border-box;
}
.app {
	font-family: sans-serif;
	font-size: 1rem;
	color: rgb(0, 131, 192);
	background: url('./GHOST2.png') no-repeat;
	background-size: cover;
	height: 100vh;
}
